{% extends "template.html" %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎使用服务器监控系统，感谢您的支持！</h1>
    <h4>如需查看教程，请<a href="https://github.com/leeyoshinari/performance_monitor/blob/master/README.md">点我</a>。如有疑问，可<a href="https://github.com/leeyoshinari/performance_monitor">联系我</a>，谢谢！</h4>
    <h3 align="center" style="margin-top: 66px">服务器监控列表</h3>
    <table width="80%" border="1" cellspacing="0" cellpadding="6" align="center" id="monitor">
        <tr style="align: center; margin: auto; background-color: #99CCFF">
            <th width=15% style="text-align: center;">服务器</th>
            <th width=40% style="text-align: center;">系统版本</th>
            <th width=10% style="text-align: center;">CPU核数</th>
            <th width=10% style="text-align: center;">内存大小</th>
            <th width=20% style="text-align: center;">注册时间</th>
        </tr>
        {% for host in ip %}
            <tr align="center">
                <td><a href="http://{{ ip[loop.index0] }}:{{ port[loop.index0] }}">{{ ip[loop.index0] }}</a></td>
                <td>{{ system[loop.index0] }}</td>
                <td>{{ cpu[loop.index0] }}核</td>
                <td>{{ mem[loop.index0] }}G</td>
                <td>{{ time[loop.index0] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
