{% extends "template.html" %}

{% block page_content %}
<div class="page-header">
    <h3 align="center" style="margin-top: 66px">服务器监控列表（共监控{{ ip|count }}个服务器）</h3>
    <table width="80%" border="1" cellspacing="0" cellpadding="6" align="center" id="monitor">
        <tr style="align: center; margin: auto; background-color: #99CCFF">
            <th width=15% style="text-align: center;">服务器</th>
            <th width=40% style="text-align: center;">系统版本</th>
            <th width=10% style="text-align: center;">CPU核数</th>
            <th width=10% style="text-align: center;">内存大小</th>
            <th width=10% style="text-align: center;">磁盘大小</th>
            <th width=15% style="text-align: center;">带宽</th>
        </tr>
        {% for host in ip %}
            <tr align="center">
                <td><a href="http://{{ ip[loop.index0] }}:{{ port[loop.index0] }}">{{ ip[loop.index0] }}</a></td>
                <td>{{ system[loop.index0] }}</td>
                <td>{{ cpu[loop.index0] }}核</td>
                <td>{{ mem[loop.index0] }}G</td>
                <td>{{ disk[loop.index0] }}</td>
                {% if net[loop.index0] == 1 %}
                    <td>None</td>
                    {% else %}
                    <td>{{ net[loop.index0] }}Mb/s</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
