{% extends "template.html" %}

{% block page_content %}
<div style="height:100%;width:100%;float:left;">
    <div align="center">
        主机：<select id="host" style="width: 180px; height: 26px; margin-right: 20px;">
            {% for foo in ip %}
                <option value="{{ foo }}">{{ foo }}</option>
            {% endfor %}
    </select>
        端口：<input type="text" name="port" id="port" placeholder="请输入端口号或进程号" style="margin-right: 20px;">
        <button type="button" id="runMonitor" style="margin-right: 20px;">
            开始监控
        </button>
        <button type="button" id="stopMonitor" style="margin-right: 20px;">
            停止监控
        </button>
        <button type="button" id="MonitorList">
            获取监控列表
        </button>
    </div>
    <br><br><br>
    <h3 align="center">端口监控列表</h3>
    <table width="50%" border="1" cellspacing="0" cellpadding="6" align="center" id="monitor"></table>
</div>
{% endblock %}

{% block myjs %}
<script type="text/javascript">
    $("#runMonitor").click(function () {
        let port = 0;
        let host = $("#host").find("option:selected").text();
        let input_port = document.getElementById("port").value;
        try{
            port = parseInt(input_port, 10);
            if (isNaN(port) || port < 1) {
                $.Toast('请输入端口号！', 'error');
                return;
            }
        }
        catch (err) {
            $.Toast(err, 'error');
            return;
        }
        let startMonitor = {
            host: host,
            type: "port",
            port: port,
            isRun: 1
        };
        $(function runMonitor () {
            $.ajax({
                type: 'post',
                url: 'runMonitor',
                data: startMonitor,
                dataType: "json",
                success: function (data) {
                    if (data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                    }
                    else if (data['code'] === 1) {
                        $.Toast(data['msg'], 'warning');
                    }
                    else {
                        $.Toast(data['msg'], 'error');
                    }
                }
            });
        });
    });

    $("#stopMonitor").click(function () {
        let port = 0;
        let host = $("#host").find("option:selected").text();
        let input_port = document.getElementById("port").value;
        try{
            port = parseInt(input_port, 10);
            if (isNaN(port) || port < 1) {
                $.Toast('请输入端口号！', 'error');
                return;
            }
        }
        catch (err) {
            $.Toast(err, 'error');
            return;
        }
        let startMonitor = {
            host: host,
            type: "port",
            port: port,
            isRun: 0
        };
        $(function runMonitor () {
            $.ajax({
                type: 'post',
                url: 'runMonitor',
                data: startMonitor,
                dataType: "json",
                success: function (data) {
                    if (data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                    }
                    else if (data['code'] === 1) {
                        $.Toast(data['msg'], 'warning');
                    }
                    else {
                        $.Toast(data['msg'], 'error');
                    }
                }
            });
        });
    });

    $("#MonitorList").click(function () {
        $(function getMonitor () {
            $.ajax({
                type: 'get',
                url: 'getMonitor',
                success: function (data) {
                    if (data['code'] === 0) {
                        $.Toast(data['msg'], 'success');
                    }
                    else {
                        $.Toast(data['msg'], 'error');
                        return;
                    }
                    data = data['data'];
                    let text_row = "<tr style=\"align: center; margin: auto; background-color: #99CCFF\">\n" +
                        "<th width=20% style=\"text-align: center;\">服务器</th>\n" +
                        "<th width=17% style=\"text-align: center;\">端口号</th>\n" +
                        "<th width=18% style=\"text-align: center;\">进程号</th>\n" +
                        "<th width=18% style=\"text-align: center;\">状态</th>\n" +
                        "<th width=27% style=\"text-align: center;\">开始监控时间</th>\n" +
                        "</tr>";
                    let run_status = ['已停止', '监控中', '排队中'];
                    for (let i=0; i<data['port'].length; i++){
                        text_row += "<tr align='center'>";
                        text_row += "<td>" + data['host'][i] + "</td>";
                        text_row += "<td>" + data['port'][i] + "</td>";
                        text_row += "<td>" + data['pid'][i] + "</td>";
                        text_row += "<td>" + run_status[data['isRun'][i]] + "</td>";
                        text_row += "<td>" + data['startTime'][i] + "</td>";
                        text_row += "</tr>";
                    }
                    document.getElementById('monitor').innerHTML=text_row;
                }
            });
        });
    });
</script>
{% endblock %}