{% extends "template.html" %}

{% block content %}
<div align="center">
    主机：<select id="host" style="width: 160px; height: 26px; margin-right: 20px;" onchange="show_port_disk()">
            {% for foo in ip %}
                <option value="{{ foo }}">{{ foo }}</option>
            {% endfor %}
    </select>
    类型: <select id="type" style="width: 160px; height: 26px; margin-right: 20px;" onchange="clear_port()">
        <option value="port">端口号</option>
        <option value="system">系统</option>
    </select>
    端口号: <select id="port" style="width: 160px; height: 26px; margin-right: 20px;">
            {% for po in port %}
                <option value="{{ po }}">{{ po }}</option>
            {% endfor %}
</select>
    磁盘号: <select id="disk" style="width: 160px; height: 26px; margin-right: 20px;">
            {% for disk in disks[0] %}
                <option value="{{ disk }}">{{ disk }}</option>
            {% endfor %}
</select>
    开始时间: <input type="text" name="starttime" id="starttime" style="margin-right: 20px; width: 160px;" value="{{ starttime }}">
    结束时间: <input type="text" name="endtime" id="endtime" style="margin-right: 20px; width: 160px;" value="{{ endtime }}">
    <button type="button" id="MonitorList">&nbsp;画&nbsp;&nbsp;&nbsp;图&nbsp;</button>
</div>
<div id="figure"></div>
{% endblock %}

{% block myjs %}
<script type="text/javascript">
    $("#MonitorList").click(function () {
        let port = 0;
        let host = document.getElementById('host').value;
        let type = document.getElementById('type').value;
        let num = document.getElementById('port').value;
        let disk = document.getElementById('disk').value;
        let starttime = document.getElementById('starttime').value;
        let endtime = document.getElementById('endtime').value;
        try{
                port = parseInt(num, 10);
                if (type === 'port' || type === 'pid') {
                    if (isNaN(port) || port < 1) {
                        $.Toast('请输入端口号！', 'error');
                        return;
                    }
                }
        }
        catch (err) {
            $.Toast(err, 'error');
            return;
        }
        let post_data = {
            host: host,
            type: type,
            port: port,
            disk: disk,
            startTime: starttime,
            endTime: endtime,
        };
        $(function visualize() {
            $.ajax({
                type: 'post',
                url: 'plotMonitor',
                data: post_data,
                dataType: "html",
                success: function (data) {
                    $("#figure").html(data);
                }
            });
        })
    });

    function show_port_disk() {
        let host = document.getElementById('host').value;
        let types = document.getElementById('type').value;
        let portObj = document.getElementById('port');
        let diskObj = document.getElementById('disk');
        portObj.options.length = 0;
        diskObj.options.length = 0;
        $.ajax({
            type: 'get',
            url: 'getPortAndDisk/'+host,
            dataType: "json",
            success: function (data) {
                if (data['code'] === 0){
                    if (types === 'port'){
                        for (let i=0; i<data['data']['port'].length; i++){
                            portObj.options.add(new Option(data['data']['port'][i], data['data']['port'][i]));
                        }
                    }
                    for (let i=0; i<data['data']['disk'].length; i++){
                        diskObj.options.add(new Option(data['data']['disk'][i], data['data']['disk'][i]));
                    }
                }
                else{
                    $.Toast(data['msg'], 'error');
                }
            }
        });
    }

    function clear_port() {
        let types = document.getElementById('type').value;
        if (types === 'system') {
            let portObj = document.getElementById('port');
            portObj.options.length = 0;
        }
        else {
            show_port_disk();
        }
    }
</script>
{% endblock %}
