{% extends "template.html" %}

{% block page_content %}
<div class="page-header">
    <h2>Introduction</h2><br>
    <div style="text-align: right;">Language: <a href="{{ server_context }}/course_zh_CN">zh-CN</a>, <a href="{{ server_context }}/course"> en</a></div>
    <h4>Project URL: Please<a href="https://github.com/leeyoshinari/performance_monitor" target="_blank"> click me</a>, if there are bugs or suggestions, please submit them in the<a href="https://github.com/leeyoshinari/performance_monitor/issues" target="_blank"> Issue</a>.</h4><br>
    <h4>Completed functions<br></h4>
    <ol>
        <p>
            1. Monitoring the CPU usage, IO wait, Memory, Disk IO, Network, and TCP connections of the server.<br>
            2. Monitoring the CPU usage, Context switching, Memory, Disk read and write, and TCP connections of the specified port.<br>
            3. For Java applications, monitoring size of JVM and Garbage collection; when the frequency of Full GC is too high, an email alert will be sent.<br>
            4. When the Server CPU usage is too high, or free memory is too low, an email alert will be sent; And can clear the cache automatically.<br>
            5. Start or Stop monitoring specified port at any time.<br>
            6. When the port restarts, it can automatically re-monitor.<br>
            7. Support Operational monitoring, when the port stopped, an email alert will be sent.<br>
            8. Stopping the Client directly on the Server.<br>
            9. Monitoring data can be visualized according to the specified time period.<br>
            10. Calculate the percentiles of the CPU, Disk IO, and Network.<br>
            11. Monitoring data sampling frequency is up to about 1 time/sec, and any frequency can be set.<br>
            12. The real-time usage of server(CPU, Memory, and Disk) can be viewed directly on the page.<br>
            13. A Server can manager multiple Clients at the same time.<br>
            14. If Server is stopped, it doesn't affect the monitoring of Client.<br>
        </p>
    </ol>
    <h4>Implement</h4>
    <ol>
        <p>
            1. Framework: <code>aiohttp</code>.<br>
            2. Template rendering: <code>jinja2</code>.<br>
            3. Visualization: <code>echarts</code>.<br>
            4. Thread pool and queue to monitor.<br>
            5. Database: <code>InfluxDB</code>.<br>
            6. In order to ensure the accuracy of the monitoring data, use Linux's commands to get data directly, and there is no curve fitting during visualization. <br>
        </p>
    </ol>
    <h2>Usage</h2>
    <ol>
        <li>
            <p>Clone performance_monitor</p>
            <pre><code><span>git</span> clone https://github.com/leeyoshinari/performance_monitor.git</code></pre>
            <p>
                The server folder is the Server, and only one needs to be deployed; the agent folder is Client, and deployed on the servers that need to be monitored.<br>
            </p>
        </li>
        <li>
            <p>Deploy InfluxDB, installation steps on CentOS are as follows:</p>
            <p>
                (1) Download and install<br>
                    &ensp;&ensp;&ensp;&ensp;<code>wget https://dl.influxdata.com/influxdb/releases/influxdb-1.8.3.x86_64.rpm</code> <br>
                    &ensp;&ensp;&ensp;&ensp;<code>yum localinstall influxdb-1.8.3.x86_64.rpm</code> <br>
                (2) Start<br>
                    &ensp;&ensp;&ensp;&ensp;<code>systemctl enable influxdb</code> <br>
                    &ensp;&ensp;&ensp;&ensp;<code>systemctl start influxdb</code> <br>
                (3) Modify configuration<br>
                    &ensp;&ensp;&ensp;&ensp;<code>vim /etc/influxdb/influxdb.conf</code> <br>
                    &ensp;&ensp;&ensp;&ensp;Around line 256, modify port: <code>bind-address = ":8086"</code> <br>
                    &ensp;&ensp;&ensp;&ensp;Around line 265, log disable: <code>log-enabled = false</code> <br>
                    &ensp;&ensp;&ensp;&ensp;Restart InfluxDB <br>
                (4) Create database<br>
                    &ensp;&ensp;&ensp;&ensp;<code>create database test</code> <br>
                    &ensp;&ensp;&ensp;&ensp;<code>use test</code> <br>
                    &ensp;&ensp;&ensp;&ensp;<code>create user root with password '123456'</code> <br>
                    &ensp;&ensp;&ensp;&ensp;<code>grant all privileges on test to root</code> <br>
            </p>
        </li>
        <li>
            <p>Respectively modify the configuration files <code>config.ini</code> in the server and agent folders. </p>
        </li>
        <li>
            <p>Check the version of <code>sysstat</code>. Respectively use commands <code>iostat -V</code> and <code>pidstat -V</code>, the version of <code>12.4.0</code> has been tested, if not, please<a href="http://sebastien.godard.pagesperso-orange.fr/download.html"> click me </a>to download it. </p>
        </li>
        <li>
            <p>Respectively run <code>server.py</code> in server and agent folders.</p>
            <pre><code><span>nohup</span> python3 server.py <span>&amp;</span></code></pre>
        </li>
        <li>
            <p>Visit pages<br><br>
                (1) After client is started, visit <code>http://ip:port</code>
                , you can see the server's data(CPU, Meeory, Disk, Network, etc.).<br>
                <img width="100%" src="{{ server_context }}/static/agent.jpg" alt="">
            </p><br>
            <p>(2) After server is started, visit <code>http://ip:port/<strong>context</strong></code>
                , you can see some informations about clients.<br>
                <img width="100%" src="{{ server_context }}/static/home.jpg" alt=""><br>
                &ensp;&ensp;&ensp;&ensp;Click the IP in the list, some information of the client will be shown.
            </p><br>
            <p>(3) Click MonitorList tab to see the monitoring page. <br>
                &ensp;&ensp;&ensp;&ensp;Select server and enter the port, then click the startMonitor button to start monitoring the port on the selected server; click the stopMonitor button to stop monitoring the port on the selected server.<br>
                <img width="100%" src="{{ server_context }}/static/monitor.jpg" alt="">
            </p><br>
            <p>(4) Click Visualize tab to see the visualization page. Select server, type, disk, startTime and endTime, then click the Visualize button to visualize the monitoring data.<br>
                <img width="100%" src="{{ server_context }}/static/visual.jpg" alt=""><br>
            </p>
        </li>
    </ol>
    <h2>Package</h2>
    <p>&ensp;&ensp;&ensp;&ensp;Using <code>pyinstaller</code> to package python code. After packaging, it can be quickly deployed agent on other clients without installing python3.7+ and third-party packages.<br></p>
    <p>&ensp;&ensp;&ensp;&ensp;Before packaging, you must ensure that the python code can run normally.</p>
    <ol>
        <li>
            <p>Package server<br>
                (1) Enter the server folder, run:<br>
            </p>
            <pre><code>pyinstaller -F server.py -p draw_performance.py -p config.py -p Email.py -p logger.py -p process.py -p request.py -p __init__.py --hidden-import draw_performance --hidden-import config --hidden-import logger --hidden-import Email --hidden-import process --hidden-import request</code></pre>
            <p>
                (2) Enter <code>dist</code> folde, find the executable file <code>server</code>,<br>
                (3) Copy <code>config.ini</code> to the <code>dist</code> folder,<br>
                (4) Copy <code>templates</code> and <code>static</code> to the <code>dist</code> folder,<br>
                (5) Start server
            </p>
            <pre><code><span>nohup</span> ./server <span>&amp;</span></code></pre>
        </li>
        <li>
            <p>Package agent<br>
                (1) Enter agent folder, run:<br>
            </p>
            <pre><code>pyinstaller -F server.py -p performance_monitor.py -p logger.py -p common.py -p config.py -p __init__.py --hidden-import logger --hidden-import performance_monitor --hidden-import common --hidden-import config</code></pre>
            <p>
                (2) Enter <code>dist</code> folde, find the executable file <code>server</code>,<br>
                (3) Copy <code>config.ini</code> to the <code>dist</code> folder,<br>
                (4) Copy the <code>dist</code> folder to other clients, and start server
            </p>
            <pre><code><span>nohup</span> ./server <span>&amp;</span></code></pre>
            <code>NOTE: Since the <code>agent</code> needs to run on the server to be monitored, the executable file packaged on the server of the CentOS system X86 architecture can only run on the server of the CentOS system X86 architecture; servers of other system and architecture need to be repackaged <code>agent</code>.</code>
        </li>
    </ol>
    <h2>Note</h2>
    <ol>
        <li>The server must support the following commands: <code>ps</code>, <code>jstat</code>, <code>pidstat</code>, <code>iostat</code> and <code>netstat</code>, if not, please install it.</li>
        <li>The version of <code>sysstat</code> must be 12+, the 12 version has been tested, other versions have not been tested, and using old version may cause data abnormalities; please<a href="http://sebastien.godard.pagesperso-orange.fr/download.html"> click me </a>to download the latest version.</li>
        <li>The network card of server must be in full duplex mode, if not, the network usage will be incorrect.</li>
        <li>The code can be run on almost any linux system that can run python. The tested systems have <code>CentOS</code>, <code>Ubuntu</code>, <code>KylinOS</code>, <code>NeoKylin</code>, support <code>X86_64</code> and <code>ARM</code> architecture.</li>
    </ol>
</div>
{% endblock %}
