<div align="center">
    <img width="89.911%" src="data:image/png;base64,{{ datas['img'] }}" />
</div>
<br>
<div id="container" style="width: 89.911%; margin:0 auto">
    {% if datas['flag'] == 1 %}
    <div style="float: left; margin-left: 20px;">
    {% else %}
    <div>
    {% endif %}
        <h4 align="center">百分位数</h4>
        {% if datas['flag'] == 1 %}
        <table width="90%" cellspacing="0" border="1" cellpadding="6" align="center" id="percentile">
        {% else %}
        <table width="50%" cellspacing="0" border="1" cellpadding="6" align="center" id="percentile">
        {% endif %}
            <tr style="align: center; margin: auto; background-color: #99CCFF">
                <td width="10%" style="text-align: center;">百分位</td>
                <td width="10%" style="text-align: center;">CPU(%)</td>
                <td width="10%" style="text-align: center;">磁盘读(Mb/s)</td>
                <td width="10%" style="text-align: center;">磁盘写(Mb/s)</td>
                <td width="10%" style="text-align: center;">磁盘IO(%)</td>
                <td width="10%" style="text-align: center;">网络收(Mb/s)</td>
                <td width="10%" style="text-align: center;">网络发(Mb/s)</td>
                <td width="10%" style="text-align: center;">带宽(%)</td>
            </tr>
            {% for row in row_name %}
                <tr align="center">
                    <td>{{ row }}</td>
                    <td>{{ datas['line'][loop.index0][0] }}</td>
                    <td>{{ datas['line'][loop.index0][1] }}</td>
                    <td>{{ datas['line'][loop.index0][2] }}</td>
                    <td>{{ datas['line'][loop.index0][3] }}</td>
                    <td>{{ datas['line'][loop.index0][4] }}</td>
                    <td>{{ datas['line'][loop.index0][5] }}</td>
                    <td>{{ datas['line'][loop.index0][6] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if datas['flag'] == 1 %}
        <div style="float: left; margin-left: 10px; margin-top: 15px; margin-bottom: 66px;">
            <h4 align="center">垃圾回收</h4>
            <table width="50%" cellpadding="6" cellspacing="0" border="1", align="center" id="gc">
                <tr style="align: center; margin: auto; background-color: #99CCFF">
                    <td width="10%" style="text-align: center;">GC</td>
                    <td width="10%" style="text-align: center;">次数</td>
                    <td width="10%" style="text-align: center;">时间(s)</td>
                    <td width="10%" style="text-align: center;">频率(s/次)</td>
                </tr>
                <tr align="center">
                    <td>YGC</td>
                    <td>{{ datas['ygc'] }}</td>
                    <td>{{ datas['ygct'] }}</td>
                    <td>{{ datas['fygc'] }}</td>
                </tr>
                <tr align="center">
                    <td>FGC</td>
                    <td>{{ datas['fgc'] }}</td>
                    <td>{{ datas['fgct'] }}</td>
                    <td>{{ datas['ffgc'] }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
<br><br>
