<div align="center">
    <img src="data:image/png;base64,{{data}}" />
</div>
<div id="container" style="width:730px; margin:0 auto">
    <div id="Percentile" style="float:left; background-color:#FF9933; height:200px; width:300px; 'margin-right:10px">
        <h3 align="center">Percentile</h3>
        <p align="center">
            75%:&nbsp&nbsp&nbsp&nbsp{{line75}}<br>
            90%:&nbsp&nbsp&nbsp&nbsp{{line90}}<br>
            95%:&nbsp&nbsp&nbsp&nbsp{{line95}}<br>
            99%:&nbsp&nbsp&nbsp&nbsp{{line99}}
        </p>
    </div>
    <div id="GC" style="float:left; background-color:#CC6633; height:200px; width:300px">
        <h3 align="center">GC</h3>
        <p align="center">
            YGC:&nbsp{{ygc}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYGCT:&nbsp{{ygct}}s<br>
            FGC:&nbsp{{fgc}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFGCT:&nbsp{{fgct}}s<br>
            Frequence of YGC:&nbsp{{fygc}}s<br>
            Frequence of FGC:&nbsp{{ffgc}}s
        </p>
    </div>
</div>