{% extends "bootstrap/base.html" %}

{% block title %}
Performance Monitor
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Home
            </a>
        </div>
        <div class="navbar-left">
            <a class="navbar-brand" href="/startMonitor">
                StartMonitor
            </a>
        </div>
        <div class="navbar-left">
            <a class="navbar-brand" href="/Visualize">
                Visualize
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}